#main {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    background: linear-gradient(270deg, rgb(34, 28, 45) 44.71%, #282047 100%);
}

#imagem_mulher {
    height: 90%;
    display: flex;
    align-self: flex-end;
    margin: 0px 170px 0px;
}

#campo_login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: thin solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    height: 80%;
    width: 60%;
    margin: 100px 0px 0px 180px;
    box-shadow: inset 4px 4px 15px rgba(0, 0, 0, 0.4),
    inset -2px -2px 10px rgba(255, 255, 255, 0.2);
}

.campo_form {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 45px; 
}

.campo_form label {
    color: var(--cinza-claro);
    font-size: 1.5rem;
    font-weight: 500;
}

.campo_form input {
    background: rgba(214, 210, 230, 0.2);
    border-radius: 6px;
    width: 380px;
    height: 35px;
    backdrop-filter: blur(100px);
    box-shadow: 
    inset 4px 4px 5px rgba(185, 178, 214, 0.096),
    inset -2px -2px 5px rgba(214, 210, 230, 0.01);
}

#botao {
    color: var(--branco);
    background-color: transparent;
    border: 2px solid var(--rosa-destaque);

    font-size: 20px;
    text-decoration: none;
    border-radius: 6px;
    width: 50%;
    height: 10%;
    margin: 122px 0px 100px 103px;
    /* padding: 10px 20px; */

    transition: all 0.3s ease;
    
    display: flex;
    justify-content: center;
    align-content: center; 
    align-items: center;
}

#botao:hover {
    color: var(--rosa-destaque);
    border: 2px, solid, var(--branco);
}